<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    
    <!-- Stylesheets -->
    <%- include('./requireViews/linksView.ejs', {}) %>

  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>





    <!-- Scripts -->
    <%- include('./requireViews/scriptsView.ejs', {}) %>
  </body>
</html>
